$poke: rgb(253, 221, 59);
$pokeDark: rgb(220, 184, 32);


.main {
    display: flex;
    justify-content: space-between;
    width:max-content;
    padding-top: 50px;
}
.info {
    padding-top:20px;
    width: 400px;
    border-style: none;
    background-color: $poke;
    border-radius: 20px;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
}
.infotext{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding-left: 20px;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: larger;
    font-weight: bold;
}
.image{
    height: 40px;
    width: 40px;
}

.listings{
    margin-right: 50px;
    height: 1000px;
    overflow: scroll;
}

.pokemon-row {
    margin-right: 10px;
    border-style: none;
    border-radius: 20px;
    width: 400px;
    display: flex;
    background-color: $poke;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5px;
    vertical-align: middle;
    height: 70px;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.names{
    padding-top: 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.addButton{
    background-color: $pokeDark;
    font-size: large;
    border-style: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.addButton:hover{
    color:rgb(251, 252, 172);
}
.pokemon-row:hover{
    background-color: $pokeDark;
    color:rgb(251, 252, 172);

}