$poke: rgb(253, 221, 59);
$pokeDark: rgb(220, 184, 32);

.list-title{
    margin-left: 25px;
}

.main {
    display: flex;
    justify-content: space-between;
    width:max-content;
    padding-top: 50px;
}
.info {
    padding: 40px;
    width: 500px;
    border-style: none;
    background-color: $poke;
    border-radius: 20px;
    height: 400px;
}
.listings{
    width: 500px;
}

.pokemon-row {
    border-style: none;
    border-radius: 20px;
    width: 400px;
    display: flex;
    background-color: $poke;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 5px;
    vertical-align: middle;
    height: 70px;
    cursor: pointer;
}

.names{
    padding-top: 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.addButton{
    background-color: $pokeDark;
    font-size: large;
    border-style: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.addButton:hover{
    color:rgb(251, 252, 172);
}
.pokemon-row:hover{
    background-color: $pokeDark;
    color:rgb(251, 252, 172);

}