$poke: rgb(253, 221, 59);
$pokeDark: rgb(194, 169, 31);

.picture{
    margin-top: 90px;
    margin-left:20px;
    width: 150px;
}

.navbar-1 {
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: $pokeDark;
    align-items: center;
    background-color: $poke;
    display: flex;
    height: 100px;
    position: sticky;
    width: 100%;
    
}

.navbar-title {
    text-align: center;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.navbar-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.trainer{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;

}
.pokedex{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;

}
.logout{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;

}