$poke: rgb(253, 221, 59);
$pokeDark: rgb(194, 169, 31);

.picture{
    margin-top: 90px;
    margin-left:20px;
    width: 150px;
}

.navbar-1 {
    top:0;
    position: sticky;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: $pokeDark;
    align-items: center;
    background-color: $poke;
    display: flex;
    height: 100px;
    width: 100%;
    padding-top: 1%;
    
}

.navbar-title {
    text-align: center;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.navbar-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.trainer{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 20%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;

}

.pokedex{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 20%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;

}
.logout{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 20%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}
.trainer:hover{
    background-color: $pokeDark;
    color:white;
}
.pokedex:hover{
    background-color: $pokeDark;
    color:white;
}
.logout:hover{
    background-color: $pokeDark;
    color:white;
}

