<ng-container *ngIf='user !== undefined'>
    <nav class="navbar-1">
        <img src='../../../assets/navbar_art.png' width="20%" height="20%"/>
        <span class="navbar-title">Pokemon trainer</span>
        <ul class="navbar-buttons">
            <li>
                <img src='../../../assets/trainer_art_placeholder.png' routerLink="/profile" width="10%" height="10%" alt="To trainer profile"/>
                <a>Trainer profile</a>
            </li>
            <li>
                <img src='../../../assets/pokedex.png' routerLink="/pokemons" width="10%" height="10%" alt="To Pokedex catalogue"/>
                <a>Pokedex</a>
            </li>
            <li>
                <a (click)="handleLogout()"  routerLink="/login">Exit (Placeholder)</a>
            </li>
        </ul>
    </nav>
</ng-container>
