<ng-container *ngIf='user !== undefined'>
    <nav class="navbar-1">
        <img class="picture" src='../../../assets/pokemon-seeklogo.png'/>
        <span class="navbar-title"><h1>Pokemon trainer</h1></span>
        <div class="navbar-buttons">
            <div class="trainer" routerLink="/profile">
                <img src='../../../assets/trainer_art_placeholder.png' height="40px" alt="To trainer profile"/>
                <a>Trainer profile</a>
            </div>
            <div class="pokedex" routerLink="/pokemons">
                <img src='../../../assets/pokedex.png'  height="40px" alt="To Pokedex catalogue"/>
                <a>Pokedex</a>
            </div>
            <div class="logout"  (click)="handleLogout()"  routerLink="/login">
                <img src='../../../assets/exit-icon.svg' height="40px" width="25px" alt="To Pokedex catalogue"/>
                <a>Log out</a>
            </div>
        </div>
    </nav>
</ng-container>