.navbar-1 {
    align-items: center;
    background-color: rgb(240, 213, 59);
    display: flex;
    position: sticky;
    width: 100%;
}

.navbar-title {
    text-align: center;
    font-size: large;
}

.navbar-buttons {
    height: 100%;
    width: 100%;
}