<div class="welcome-text">
    <h2>Welcome {{ trainerName }}</h2>
    <p>This is your personal trainer profile.</p>
    <p>Below you can find a stat section that display some informations about you as a trainer. 
        Below you can see a list off all the pokemons currently in your collection ({{ pokemons.length }})</p>
</div>
<div class="pokemon-list">
    <div *ngFor="let pokemon of pokemons" class="pokemon-row">
        <img class="image" src={{pokemon.sprites.other.dream_world.front_default}} height="200px"/>
        <h2 class="names">{{ pokemon.name }}</h2>
        <ul *ngFor="let ab of pokemon.abilities" class="abilities">
            <li>{{ab.ability.name}}</li>
        </ul>
        <button class="button-remove" (click)="handleRemove(pokemon.name)">Remove</button>
    </div>
</div>

