<div class="welcome-text">
    <h2>Hi {{ trainerName }}</h2>
    <p>This is your personal trainer profile.</p>
    <div *ngIf="pokemons.length>=10">Wow, you have {{ pokemons.length }} Pokemons in your collection, good job {{ trainerName}}!!</div>
    <div *ngIf="pokemons.length>=2&&pokemons.length<=9">Below you can see a list off all the pokemons currently in your collection ({{ pokemons.length }}).</div>
    <div *ngIf="pokemons.length==1">You currently have one Pokemon. Remember, you can always add more in the Pokedex section.</div>
    <div *ngIf="pokemons.length==0">You don't have any pokemons in your collection yet, navigate to Pokedex and add a few to get started.</div>
</div>
<div class="pokemon-list">
    <div *ngFor="let pokemon of pokemons" class="pokemon-row">
        <img class="image" src={{pokemon.sprites.other.dream_world.front_default}} height="200px"/>
        <h2 class="names">{{ pokemon.name }}</h2>
        <ul *ngFor="let ab of pokemon.abilities" class="abilities">
            <li class="p">{{ab.ability.name}}</li>
        </ul>
        <button class="button" (click)="handleRemove(pokemon.name)">Discard</button>
    </div>
</div>

