.user-input {
    text-align: center;
    border-radius: 5px;
    border-color: black;
    height: 10%;
    width: 15%;
}

.user-login-field {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid  rgb(240, 213, 59);
}

.user-login-form {
    background-color: rgb(240, 213, 59);
    border: 1px solid  rgb(240, 213, 59);
}